# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.so

# Django
*.log
local_settings.py
.env
staticfiles/
media/

# macOS
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/
*.swp
*.swo

# pytest
.pytest_cache/
.coverage
htmlcov/

# Railway
.railway/
*.bak_*
.github/
